@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rammetto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* global style */
body {
    background-color: black;
    font-family: "Chewy", sans-serif;
    color: white;
}

/* logo */

#logo img {
    max-width: 15%;
    max-height: 15%;
    margin-left: 1rem;
    margin-top: -20px;
    float: left;
}


/* hero container styling */
/*hero images */
#hero-container {
    display: grid;
    grid-template-columns: 50% 45%;
}

#hero-image {
    grid-column: 2;
    display: initial;
}

#tablet-image {
    grid-column: 2;
    grid-row: 1;
    display: none;
}

#phone-image {
    display: none;
}

#hero-image img {
    max-width: 90%;
    height: auto;
}

#tablet-image img {
    max-width: 90%;
    height: auto;
}

/*hero image text */
#game-invite {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-self: center;
}

#game-invite h3 {
    margin: 10px;
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 100;
}

#game-invite h1 {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 320%;
    font-family: "Rammetto One", sans-serif;
    color: #f2b5d4;
}

#game-invite button {
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: "Rammetto One", sans-serif;
    font-size: 220%;
    margin-top: 25px;
    background-color: transparent;
    letter-spacing: 4px;
    border-radius: 50%;

    /* bouncy animation for button element comes from: https://fdossena.com/?p=html5cool/buttons/i.frag */
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }

    40% {
        top: 0em
    }

    43% {
        top: -0.9em
    }

    46% {
        top: 0em
    }

    48% {
        top: -0.4em
    }

    50% {
        top: 0em
    }

    100% {
        top: 0em;
    }
}

#game-invite button a {
    text-decoration: none;
    color: #dbcdf0;
}

/*footer */
footer {
    height: 2rem;
    position: sticky;
    top: 100vh;
    width: 95%;
}

/* contact and social media info icons */
li {
    display: inline-block;
}

.social-networks {
    float: left;
}

.social-networks i {
    font-size: 200%;
    color: white;
    margin-left: 20px;
}

/* copyright footer section */
footer>p {
    text-align: right;
    letter-spacing: 3px;
    font-family: "Rammetto One", sans-serif;
}

/* overlay text - idea from YT tutorial: https://www.youtube.com/watch?v=28VfzEiJgy4 */
.overlay-text-small {
    font-size: 200%;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 30px black, 0 0 20px pink;
}

#victory-text > p {
    text-align: center;
    font-size: 90%;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        font-size: 400%;
        background-color: rgba(0, 0, 0, .8);
    }
}

/*game container */
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    margin-top: 50px;
}


.game-info {
    font-size: 250%;
    font-family: "Rammetto One", sans-serif;
    word-spacing: 20px;
    margin-right: 50px;
}

.game-info i {
    color: white;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
    justify-items: center;
    margin-bottom: 50px;
    /* 3D effect of card flipping based on YT tutorial: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    perspective: 1000px;
}

.memory-card {
    background-color: #f2b5d4;
    height: 130px;
    width: 128px;
    transform-style: preserve-3d;
    transition: transform .7s;
    border-radius: 25%;
}

.memory-card .front-face {
    width: 130px;
}

.memory-card:hover {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .4s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/* media queries */

/*for larger to medium size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #hero-image img {
        max-width: 100%;
    }

    #game-invite h3 {
        font-size: 200%;
    }

    #game-invite h1 {
        font-size: 250%;
    }

    #game-invite button {
        font-size: 200%;
        padding: 0;
    }

    .game-container {
        margin-right: 10px;
    }
}

/* for medium screen sizes from 1024px wide and down */
@media screen and (max-width: 1024px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }

    .game-info-container {
        margin-left: 30px;
    }

    body {
        overflow: auto;
    }

    .game-info {
        font-size: 200%;
    }

    #game-invite h1 {
        font-size: 200%;
    }

    #game-invite h3 {
        font-size: 180%;
    }

    #hero-image {
        display: none;
    }

    #tablet-image {
        display: initial;
    }

    #tablet-image img {
        max-width: 100%;
        margin-top: 20px;
    }

    #logo img {
        max-width: 20%;
    }

    .overlay-text-small {
        font-size: 160%;
    }
}

/* for small screen sizes 768px and down */
@media screen and (max-width: 768px) {

    .overlay-text-small {
        font-size: 110%;
    }

    .game-container {
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
    }

    .game-info-container {
        margin-left: 40px;
    }

    .game-info {
        font-size: 160%;
    }

    #logo img {
        float: none;
        max-width: 28%;
    }

    footer {
        width: 90%;
    }

    #hero-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
    }

    #phone-image {
        grid-row: 2;
        display: initial;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 80%;
    }

    #tablet-image {
        display: none;
    }

    #game-invite {
        grid-column: 1/1;
        grid-row: 1/2;
    }

    .social-networks {
        float: none;
    }

    footer>p {
        text-align: left;
    }
}

/* for extra small screen sizes 480px and down */
@media screen and (max-width: 480px) {

    #logo img {
        max-width: 45%;
    }

    #game-invite h3 {
        font-size: 250%;
    }

    #game-invite h1 {
        font-size: 310%;
    }

    #game-invite button {
        font-size: 290%;
    }

    #hero-container {
        width: fit-content;
    }

    .overlay-text>p {
        font-size: 80%;
    }

    .overlay-text-small {
        font-size: 90%;
    }

    .overlay-text-small {
        font-size: 80%;
    }

    footer>p {
        font-size: 80%;
    }
}