@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rammetto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* global style */
body {
    background-color: black;
    font-family: "Chewy", sans-serif;
    color: white;
    overflow: hidden;
}

/* logo */
 
#logo img {
    max-width: 15%;
    max-height: 15%;
    margin-left: 10px;
    margin-top: -20px;
    float: left;
}


/* hero container styling */
#hero-container {
        display: grid;
        grid-template-columns: 50% 45%;
        grid-template-rows: repeat(3, 180px);
}

#hero-image {
    grid-column: 2/3;
    grid-row: 1/3;
}

#hero-image img {
    max-width: 100%;
    height: auto;
  }

#game-invite {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

#game-invite h3 {
    margin: 10px;
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 100;
}

#game-invite h1 {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 320%;
    font-family: "Rammetto One", sans-serif;
    color: #f2b5d4;
}

#game-invite button {
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: "Rammetto One", sans-serif;
    font-size: 220%;
    margin-top: 25px;
    background-color: transparent;
    letter-spacing: 4px;
    border-radius: 50%;

/* bouncy animation for button element comes from: https://fdossena.com/?p=html5cool/buttons/i.frag */
    animation:bouncy 5s infinite linear;
    position:relative;
}
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

#game-invite button a {
    text-decoration: none;
    color: #dbcdf0;
}

/*footer */
footer {
    height: 50px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 95%;
}

/* contact and social media info icons */
li {
    display: inline-block;
}

.social-networks {
    float: left;
}

.social-networks i {
    font-size: 200%;
    color: white;
    margin-left: 20px;
}

/* copyright footer section */
footer > p {
    text-align: right;
    letter-spacing: 3px;
    font-family: "Rammetto One", sans-serif;
}

/* overlay text - idea from YT tutorial: https://www.youtube.com/watch?v=28VfzEiJgy4 */

.overlay-text-small {
    font-size: 200%;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 30px black, 0 0 15px pink;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 400%;
        background-color: rgba(0, 0, 0, .8);
    }
}

/*game container */
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    margin-top: 50px;
}


.game-info {
    font-size: 250%;
    font-family: "Rammetto One", sans-serif;
    word-spacing: 20px;
    margin-right: 50px;
}

.game-info i {
    color: white;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
    justify-items: center;
/* 3D effect of card flipping based on YT tutorial: https://www.youtube.com/watch?v=ZniVgo8U7ek */
    perspective: 1000px;
}

.memory-card {
    background-color: #f2b5d4;
    height: 130px;
    width: 128px;
    transform-style: preserve-3d;
    transition: transform .7s;
    border-radius: 25%;
}

.memory-card .front-face {
    width: 130px;
}

.memory-card:hover {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .4s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}